@model IEnumerable<Customers>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(customer => customer.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(customer => customer.City)
            </th>
            <th>
                @Html.DisplayNameFor(customer => customer.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(customer => customer.Phone)
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>
