@model Customers

<tr>
    <td>
        @Html.DisplayNameFor(customer => customer.Country)
    </td>
    <td>
        @Html.DisplayNameFor(customer => customer.City)
    </td>
    <td>
        @Html.DisplayNameFor(customer => customer.ContactName)
    </td>
    <td>
        @Html.DisplayNameFor(customer => customer.Phone)
    </td>
</tr>
<div>
    <input type="radio" name="customerId" value="@Model.CustomerId" />
</div>
